#!/bin/bash

starting_dir="${PWD}"
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
cd "${DIR}"

MANAGEMENT_IP="1.2.3.4"

# Disallow access to the ports we are using unless the IP is the management IP address.
# Check for rule existence - don't add duplicate rules.
if ! iptables --check DOCKER-USER --protocol tcp --dport 6100 ! --source "${MANAGEMENT_IP}" --jump DROP 2>/dev/null; then
  iptables --insert DOCKER-USER --protocol tcp --dport 6100 ! --source "${MANAGEMENT_IP}" --jump DROP
fi
if ! iptables --check DOCKER-USER --protocol tcp --dport 6101 ! --source "${MANAGEMENT_IP}" --jump DROP 2>/dev/null; then
  iptables --insert DOCKER-USER --protocol tcp --dport 6101 ! --source "${MANAGEMENT_IP}" --jump DROP
fi
if ! iptables --check DOCKER-USER --protocol tcp --dport 6102 ! --source "${MANAGEMENT_IP}" --jump DROP 2>/dev/null; then
  iptables --insert DOCKER-USER --protocol tcp --dport 6102 ! --source "${MANAGEMENT_IP}" --jump DROP
fi

cd "${starting_dir}"

exit 0
