#!/bin/bash

starting_dir="${PWD}"
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
cd "${DIR}"

MANAGEMENT_IP="1.2.3.4"

# Disallow access to the ports we are using unless the IP is the management IP address.
iptables -I DOCKER-USER -p tcp --dport 6100 ! -s "${MANAGEMENT_IP}" -j DROP

cd "${starting_dir}"

exit 0
